.footer {
  background: #000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ccc;
}

.footer-contato li a {
  display: block;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #fff;
  text-decoration: none;
  margin-bottom: 30px;
  transition: color 0.3s, opacity 0.3s;
}

.footer-contato li a:hover {
  color: #67dd0a;
}

.footer-contato li a:active {
  opacity: 0.8;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
  text-align: center;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-contato li {
    font-size: 1.5rem;
  }
}
